#footer{
    margin-top: 80px;
    background-color: #0d273d;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
#footer.visible{
    opacity: 1;
}
@media (max-width : 550px) {
    #footer{
        /* margin-top:150px ; */
    }
}