.setpassword{
    width: 55%;
    height: 95%;
    box-shadow: 0 0 8px rgb(34, 0, 255);
}
.setpassword::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.resetPasswordForm form{
    width: 50%;
}

@media only screen and (max-width : 800px){
    .setpassword{
        width: 60%;
    }
    .resetPasswordForm form{
        width: 65%;
    }
}

@media only screen and (max-width : 600px){
    .setpassword{
        width: 70%;
    }
    .resetPasswordForm form{
        width: 75%;
    }
}

@media only screen and (max-width : 450px){
    .setpassword{
        width: 90%;
    }
    .resetPasswordForm form{
        width: 85%;
    }
}
.svgIcon .svg{
    width: 30%;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
.svgIcon .svg.scaleup{
    transform: scale(1.08);
}
.svgIcon .svg.scaledowmn{
    transform: scale(1);
}