.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #2462ff, #4d75ec);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #0144ff;
  font-weight: 400;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

#signup button.submitBtn,
#login button.submitBtn {
  color: rgb(25, 0, 255);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(0, 26, 255);
  padding: 8px 18px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#signup button.submitBtn:hover,
#login button.submitBtn:hover {
  color: white;
}

#signup button.submitBtn::before,
#login button.submitBtn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -26px;
  transform: skewX(45deg);
  background-image: linear-gradient(90deg, rgb(0, 60, 171), rgb(85, 139, 255));
  z-index: -1;
  transition: all 1s;
}

#signup button.submitBtn:hover::before,
#login button.submitBtn:hover::before {
  width: 160%;
}

#signup form .loader,
#login form .loader {
  --cell-size: 15px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

#signup form .loader .cell,
#login form .loader .cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  animation: 1.5s ripple ease infinite;
}

#signup form .loader .cell.d-1,
#login form .loader .cell.d-1 {
  animation-delay: 100ms;
}

#signup form .loader .cell.d-2,
#login form .loader .cell.d-2 {
  animation-delay: 200ms;
}

#signup form .loader .cell.d-3,
#login form .loader .cell.d-3 {
  animation-delay: 300ms;
}

#signup form .loader .cell.d-4,
#login form .loader .cell.d-4 {
  animation-delay: 400ms;
}

#signup form .loader .cell:nth-child(1),
#login form .loader .cell:nth-child(1) {
  --cell-color: #0026ff;
}

#signup form .loader .cell:nth-child(2),
#login form .loader .cell:nth-child(2) {
  --cell-color: #0c44fd;
}

#signup form .loader .cell:nth-child(3),
#login form .loader .cell:nth-child(3) {
  --cell-color: #1732fb;
}

#signup form .loader .cell:nth-child(4),
#login form .loader .cell:nth-child(4) {
  --cell-color: #2343f9;
}

#signup form .loader .cell:nth-child(5),
#login form .loader .cell:nth-child(5) {
  --cell-color: #3058f7;
}

#signup form .loader .cell:nth-child(6),
#login form .loader .cell:nth-child(6) {
  --cell-color: #3d4cf5;
}

#signup form .loader .cell:nth-child(7),
#login form .loader .cell:nth-child(7) {
  --cell-color: #4559f4;
}

#signup form .loader .cell:nth-child(8),
#login form .loader .cell:nth-child(8) {
  --cell-color: #536df1;
}

#signup form .loader .cell:nth-child(9),
#login form .loader .cell:nth-child(9) {
  --cell-color: #606dff;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  min-width: 160px;
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  overflow: hidden;
  padding: 0.7rem 1rem;
  position: relative;
  text-transform: uppercase;
  background-color: #8995ef;
  color: #000000;
  border: none;
}

.btn-53 .original {
  background: #F8C8C6;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}


#navbar .MenuAndProfile #allMenu button {
  background: transparent;
  position: relative;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(4, 0, 65);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(0, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  --boxShadowColor : black 
}

#navbar .MenuAndProfile #allMenu button span {
  margin: 5px 8px;
}

#navbar .MenuAndProfile #allMenu button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

#navbar .MenuAndProfile #allMenu button:hover {
  color: #ffffff;
  border: 1px solid rgb(22, 58, 93);
}

#navbar .MenuAndProfile #allMenu button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(22, 93, 68) ;
}

 

#homeContent #classContent .menuOption .btn-17,
#homeContent #classContent .menuOption .btn-17 *,
#homeContent #classContent .menuOption .btn-17 :after,
#homeContent #classContent .menuOption .btn-17 :before,
#homeContent #classContent .menuOption .btn-17:after,
#homeContent #classContent .menuOption .btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

#homeContent #classContent .menuOption .btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  /* background-color: #a20b0bb6; */
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  /* -webkit-mask-image: -webkit-radial-gradient(#000, #fff); */
  padding: 0;
  text-transform: uppercase;
}

#homeContent #classContent .menuOption .btn-17:disabled {
  cursor: default;
}

#homeContent #classContent .menuOption .btn-17:-moz-focusring {
  outline: auto;
}

#homeContent #classContent .menuOption .btn-17 svg {
  display: block;
  vertical-align: middle;
}

#homeContent #classContent .menuOption .btn-17 [hidden] {
  display: none;
}

#homeContent #classContent .menuOption .btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.5rem 1rem;
  z-index: 0;
}

#homeContent #classContent .menuOption .btn-17,
#homeContent #classContent .menuOption .btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

#homeContent #classContent .menuOption .btn-17 .text-container {
  display: block;
}

#homeContent #classContent .menuOption .btn-17 .text {
  display: block;
  position: relative;
}

#homeContent #classContent .menuOption .btn-17:hover .text {
  color: black;
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

#homeContent #classContent .menuOption .btn-17:after,
#homeContent #classContent .menuOption .btn-17:before {
  --skew: 0.2;
  background: #ffffff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

#homeContent #classContent .menuOption .btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

#homeContent #classContent .menuOption .btn-17:hover:before {
  --progress: 100%;
}

#homeContent #classContent .menuOption .btn-17:hover:after {
  --progress: -102%;
}
