#indexPart1 {
    width: 100%;
    min-height: 500px;
    max-height: 800px;
    background-image: url(../assets/wave.png);
    background-size: 100% auto;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

#indexPart1 .frontBox {
    display: flex;
    justify-content: center;
}

#indexPart1 .maincontent {
    width: 60%;
    padding: 20px 50px;
    margin: 30px 50px;
    background-color: #ffffff00;
    overflow: hidden;
    text-align: center;
    animation: TextBlur 800ms ease-in-out;
}

#indexPart1 .maincontent .heading {
    font-size: 50px;
    font-weight: 700;
    position: relative;
    background: linear-gradient(74deg, #0414ff, #b20bff 0%, #08ffa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#indexPart1 .maincontent .content {
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

#indexPart1 .maincontent .StartButton {
    position: relative;
}

@keyframes TextBlur {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#indexPart2 {
    min-height: 500px;
    background-image: linear-gradient(#466cd5, transparent 40%);
    background-size: 100% 200%;
    transform: translateY(-10px);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#indexPart2 .content,
#indexPart3 .content {
    display: flex;
    justify-content: center;
    height: auto;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}

#indexPart2 .content.visible,
#indexPart3 .content.visible {
    opacity: 1;
    transform: translateY(0px);
}

#indexPart2 .content .text,
#indexPart3 .content .text {
    width: 50%;
    height: auto;
    margin: 20px 30px;
    position: relative;
}

#indexPart2 .content .text .heading,
#indexPart3 .content .text .heading {
    font-size: 50px;
    font-weight: 700;
    padding: 10px 15px;
}

#indexPart2 .content .text .relatedContent,
#indexPart3 .content .text .relatedContent {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
}

#indexPart2 .content .image,
#indexPart3 .content .image {
    margin: 10px;
    width: 35%;
    display: flex;
    align-items: center;
}

#indexPart3 {
    min-height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
}
#indexPart3 .box1 {
    position: absolute;
    width: 400px;
    height: auto;
    top: 80px;
    right: -70px;
    z-index: 0;
}

#indexPart3 .box2 {
    position: absolute;
    width: 500px;
    height: auto;
    top: -50px;
    left: -150px;
    z-index: 0;
}

#indexPart3 .box3 {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: -100px;
    right: -150px;
    z-index: 0;
}

@media (max-width : 800px) {
    #indexPart1 .maincontent {
        width: 80%;
        padding: 20px 30px;
        margin: 30px 30px;
    }

    #indexPart2 .content .text,
    #indexPart3 .content .text {
        width: 60%;
    }

    #indexPart2 .content .text .heading,
    #indexPart3 .content .text .heading {
        font-size: 45px;
    }

    #indexPart2 .content .text .relatedContent,
    #indexPart3 .content .text .relatedContent {
        font-size: 18px;
    }
}

@media (max-width:700px) {
    #indexPart1 {
        background-size: auto 50%;
    }

    #indexPart2 .content.visible {
        transform: translateY(50px);
    }

    #indexPart2 .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #indexPart3{
        overflow-y: visible;
        overflow-x: hidden;
        align-items: center;
        min-height: 750px;
    }
    #indexPart3 .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #indexPart2 .content .image,
    #indexPart3 .content .image {
        width: 55%;
    }

    #indexPart2 .content .text,
    #indexPart3 .content .text {
        width: 90%;
        text-align: center;
    }
    #indexPart3 .box1 {
        width: 350px;
        right: -100px;
    }
    #indexPart3 .box2 {
        top: 0px;
        width: 380px;
    }
    #indexPart3 .content.visible {
        transform: translateY(80px);
    }
}

@media (max-width : 550px) {
    #indexPart1 .maincontent {
        width: 90%;
        padding: 20px 10px;
        margin: 0px 0px;
    }
    #indexPart2 .content .text .heading,
    #indexPart3 .content .text .heading {
        font-size: 38px;
        margin-inline: 0px;
        padding-inline: 0;
    }

    #indexPart2 .content .text .relatedContent,
    #indexPart3 .content .text .relatedContent {
        font-size: 18px;
    }
    #indexPart3{
        min-height: 600px;
        max-height: none;
        align-items: center;
    }
    #indexPart2{
        min-height: 600px;
    }
    #indexPart3 .box1 {
        width: 300px;
        right: -80px;
    }
    #indexPart3 .box2 {
        top: 0px;
        width: 380px;
        left: -150px;
    }
    #indexPart3 .content.visible {
        transform: translateY(30px);
    }
   
}