#navbar{
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.535); */
    height: 3.5rem;
    background-color: #42525814;
}
#navbar .name{
    font-size: 25px;
    font-weight: 700;
}
#navbar #profile{
    width: 40px;
}
#navbar .MenuAndProfile{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar #allMenu{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar #allMenu button{
    z-index: 1;
    margin-inline: 20px;
}